# conda install pytorch torchvision torchaudio pytorch-cuda=11.6 -c pytorch -c nvidia
# pip3 install torch torchvision torchaudio --extra-index-url https://download.pytorch.org/whl/cu116
# pip3 install git+https://github.com/rwightman/pytorch-image-models.git
einops==0.3.0
opencv-python
matplotlib
scipy
imageio